{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>記事一覧</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>タイトル</th>
                <th>内容</th>
                <th>投稿日</th>
                <th>機能</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">見る</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">編集</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">記事はありません</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}
